.chart-grid {
    display: flex;
    flex-wrap: wrap;
}

#gridChart1 {
    height: 45%;
    width: 20%;
}

#gridChart2, #gridChart3 {
    height: 45%;
    width: 40%;
}

#gridChart4 {
    height: 55%;
    width: 100%;
}
