.topnav {
    flex-grow: 1;
    padding-left: 60px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.topnav-link {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-left: 2px solid #171766;
    color: #4d4d4d;
    font-family: 'Unna', Times, serif;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
}

.topnav-link:last-child {
    border-right: 2px solid #171766;
}

.topnav-link:hover, .topnav-link:focus {
    text-decoration: underline;
}