.titlebox {
    display: flex;
    align-items: center;
    flex-grow: 0;
    min-width: 240px;
}

.titlebox-text {
    color: #171766;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Unna', Times, serif;
    font-weight: 400;
    /* border: 1px solid black;   */
}

.titlebox-emphasis-text {
    font-weight: 700;
    color: #4d4d4d;
    position: relative;
    left: -0.3ch;
    font-size: 1.5rem;
    font-style: italic;
}

.titlebox-logo {
    height: 30px;
}