@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-container h2 {
  padding: 5px 0 15px;
  font-weight: 400;
  color: #4d4d4d;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Unna', Times, serif;
}
